<a href="https://colab.research.google.com/github/chomssky/chomssky/blob/main/Copy_of_Practice%2BExercise%2B_%2BFunctions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **USER DEFINED FUNCTION AND LAMBDA FUNCTIONS EXERCISE**

### 1. Write a function to add, subtract, multiply and divide two variables passed to it and print the result

In [ ]:
a = 10
b = 5
def main():
  add(a,b)
  sub(a,b)
  mul(a,b)
  div(a,b)

main()

15
5
50
2.0

In [ ]:
c = a+b
print(c)

15

In [ ]:
d = a-b
print(d)

5

In [ ]:
e = d + c
print(e)

20

In [ ]:
ama = 43
kofi = 23
def main():
  add(ama,kofi)
  sub(ama,kofi)
  mul(ama,kofi)
  div(ama,kofi)

main()

66
20
989
1.8695652173913044

In [ ]:
kofi = 43
print("kofi is",kofi)

kofi is 43

### 2. Write a Python function given range (1,10) both included, that gives the square of every number

In [ ]:
my_range = range(1,11)
for i in my_range:
  print(i*i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
my_range = range(1,11,2)
for i in my_range:
  print(i**2)

1
9
25
49
81

In [ ]:
my_range = range(1,21,3)
for i in my_range:
  print(i**3)

1
64
343
1000
2197
4096
6859

### 3. Write a function to calculate simple interest

simple interest = (Principal amount * Annual Rate of interest * Time(in years))/100

Take values as follows

Principal Amount = 1000

Rate of interest = 3%

Time = 5 years

In [ ]:
si = (1000*3*5)/100
print(si)

150.0

In [ ]:
si = (2000*3*6)/100
print(si)

360.0

In [ ]:
si = (17000*17*6)/100
print(si)

17340.0

In [ ]:
si = (1500000*28*1)/100
print(si)

420000.0

In [ ]:
si = (50000*3*5)/100
print(si)

7500.0

### 4. Write a function to check the number is divisible by 25. The function should return True if divisible and "Not divisible" if not

In [ ]:
a = 200
if a % 25 == 0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
b = 180
if b % 25 == 0:
  print("divisible")
else:
  print("not divisible")

not divisible

### 5. Define a function that takes an input, squares it, adds 5, then returns the answer

In [ ]:
a = 2
b = a*a
c = b+5
print(c)

9

In [ ]:
b = 3
c = b*b
d = c+7
print(d) #takes an input (b), squares it (9), and add 7 and returns it (16)

16

### 6. Using lambda function perform the following task : take an input, squares it, add 5, then return the answer

In [ ]:
a = lambda x: x*x
print(a(5)+5) #takes an input (a), squares it (25), and add 5 and returns it (30)

30

In [ ]:
b = lambda x: x*x
print(b(3)+7) #takes an input (b), squares it (9), and add 7 and returns it (16)

16

In [ ]:
c = lambda x: x*x
print(c(4)+9) #takes an input (b), squares it (16), and add 9 and returns it (16)

25

### 7. Write a function to calculate the power of a number raised to other ($a^b$)

In [ ]:
a = 2
b = 3
c = a**b
print(c)

8

In [ ]:
b = 5
c = a**b
print(c)

32

### 8. Write a function to calculate the area of a triangle

area of triangle = 1/2 * base * height

In [ ]:
base = 2
height = 3
area_of_triangle = (1/2)*2*3
print(area_of_triangle)

3.0

In [ ]:
base = 12
height = 15
area_of_triangle = (1/2)*12*15
print(area_of_triangle)

90.0
10.0

### 9. Create a function that takes country as the input and returns "I am from *Country* "

In [ ]:
Country = "Ghana"
print("I am from",Country)

I am from Ghana

In [ ]:
Country = "the United States"
print("I am from", Country)

I am from the United States

In [ ]:
Career = "Data Scientist"
print("I am a", Career)

I am a Data Scientist

### 10. Write a function to convert degree Celsius temperature to Fahrenheit

In [ ]:
fah = (23*9/5)+32
print(fah)

73.4

In [ ]:
fah = (34*9/5)+32
print(fah)

93.2

In [ ]:
fah = (45*9/5)+32
print(fah)

113.0

In [ ]:
celcius = 23
fahrenheit = (celcius*9/5)+32
print(fahrenheit)

73.4

In [ ]:
fahrenheit = 97
celcius = (fahrenheit-32)*5/9
print(celcius) #converting 97F into Celcius

36.111111111111114