<a href="https://colab.research.google.com/github/chomssky/chomssky/blob/main/Copy_of_Practice%2BExercise%2B_%2BLooping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [ ]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
for i in range(-10, -1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [ ]:
for i in range(-10, -1, 1):
  print(i)# print a looping statement with starting point (-10), stop point (-1) and an interval of (1)

-10
-9
-8
-7
-6
-5
-4
-3
-2

### 2. Using while loop print numbers 1 to 10

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i <= 11:
  print(i)
  i += 2 # print a while looping statement with starting point (1), stop point (20), and an interval of (2)

1
3
5
7
9
11

In [ ]:
i = 2
while i <= 20:
  print(i)
  i += 3 # print a while looping statement with starting point (2), stop point (20) and an interval of (3)

2
5
8
11
14
17
20

### 3. Using for loop print first ten even numbers

In [ ]:
for i in range(2,21,2):
  print(i) # print a looping statement with starting point (2), stop point (20) and an interval of (2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(2,21,3):
  print(i) # print a looping statement with starting point (2), stop point (20) and an interval of (3)

2
5
8
11
14
17
20

In [ ]:
for i in range(1,41,2):
  print(i) # print a looping statement with starting point (1), stop point (40) and an interval of (2)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

### 4. Using while loop generate the table of 5

In [ ]:
i = 1
while i <= 10:
  print(5*i)
  i += 1

5
10
15
20
25
30
35
40
45
50

In [ ]:
i = 1
while i <= 10:
  print(5*i)
  i += 2 # print a while looping statement with starting point (1), stop point (10) and an interval of (2)

5
15
25
35
45

In [ ]:
i = 1
while i <= 10:
  print(7*i)
  i += 3 # print a while looping statement with starting point (1), stop point (10) and an interval of (3)

7
28
49
70

### 5. Using for loop generate the table of 8

In [ ]:
for i in range(1,11):
  print(8*i) # print a looping statement with starting point (1), stop point (10) and an interval of (1)

8
16
24
32
40
48
56
64
72
80

In [ ]:
for i in range(1,11):
  print(6*i) # print a looping statement with starting point (1), stop point (10) and an interval of (2)

6
12
18
24
30
36
42
48
54
60

In [ ]:
for i in range(2,12):
  print(9*i) # print a looping statement with starting point (1), stop point (10) and an interval of (3)

18
27
36
45
54
63
72
81
90
99

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [ ]:
for i in range(1,101):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")

FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz

In [ ]:
for i in range(1,101):
  if i % 3 == 0:
    print("Fizz")

Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz
Fizz

In [ ]:
for i in range(1,101):
  if i % 5 == 0:
    print("Buzz")

Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [ ]:
  sum(range(1,101))
  total = 0
  for i in range(1,101):
    total += i
  print(total) # print a looping statement with starting point (1), stop point (100) and an interval of (1)

5050

In [ ]:
sum(range(1,11))
total = 0
for i in range(1,11):
  total += i
print(total) # print a looping statement with starting point (1), stop point (10) and an interval of (1)

55
<built-in function sum>

In [ ]:
sum(range(1,101,2))
total = 0
for i in range(1,101,2):
  total += i
print(total)

2500

In [ ]:
sum(range(1,101,3))
total = 0
for i in range(1,101,3):
  total += i
print(total)

1717

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [ ]:
for i in range(202,321):
  if i % 7 == 0 and i % 5 != 0:
    print(i) # print a looping statement with starting point (202), stop point (320) and divisible by (7) and not a multiple of (5)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [ ]:
for i in range(202,321):
  if i % 7 == 0 and i % 3 == 0:
    print(i) # print a looping statement with starting point (202), stop point (320) and divisible by (7) and divisible by (3)

210
231
252
273
294
315

In [ ]:
for i in range(202,321):
  if i % 7 == 0 and i % 5 == 0:
    print(i) # print a looping statement with starting point (202), stop point (320) and divisible by (7) and (5)

210
245
280
315

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [ ]:
a = "Product Management"
count = 0
for i in a:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
    count += 1
print(count) # count the number of vowels in a string

6

In [ ]:
b = "Machine Learning"
count = 0
for i in b:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
    count += 1
print(count) # count the number of vowels in a string

6

In [ ]:
c = "Deep Learning"
count = 0
for i in c:
  if i == "e":
    count += 1
print(count) # count the number of the letter ("e") in a string

3

In [ ]:
d = "Artificial Intelligence"
count = 0
for i in d:
  if i == "i":
    count += 1
print(count) # count the number of the letter ("i") in a string

4

### 10. Print Data Science 5 times using for loop

In [ ]:
for i in range(1,6):
  print("Data Science") # print a looping statement with starting point (1), stop point (6) and an interval of (1)

Data Science
Data Science
Data Science
Data Science
Data Science

In [ ]:
a = "Data Science"
print(a*5) # print a statement with "Data Science" five (5) times

Data ScienceData ScienceData ScienceData ScienceData Science

In [ ]:
for i in range(1,9):
  print("Business Intelligence") # print a looping statement with starting point (1), stop point (9) and an interval of (1)

Business Intelligence
Business Intelligence
Business Intelligence
Business Intelligence
Business Intelligence
Business Intelligence
Business Intelligence
Business Intelligence